<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameGear | About</title>
    <link rel="shortcut icon" href="css/media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
   <%- include('navbar') %>
      <div class="container">
       <section class="aboutsec">
        <div class="about">
          <h1 id="abtTitle">About GameGear</h1>
          <h2>Powering your Play at GameGear</h2>
          <p>At GameGear, we're passionate about helping gamers of all levels find the perfect setup to conquer their favorite titles. We understand that navigating the ever-changing world of PC hardware can be daunting, especially when considering budget constraints. <br> <br>That's where we come in. Our team of dedicated tech enthusiasts is here to guide you through the selection process, recommending components and peripherals tailored to your specific needs and budget.</p>
          <h3>What Makes Us Different?</h3>
            <div class="difference">
                <ul>
                    <li>
                        <h4>Budget-conscious Approach: We believe a stellar gaming experience shouldn't break the bank. We'll work with you to identify the best value for your budget, ensuring you get the most out of your investment.</h4>
                    </li>
                    <li>
                        <h4>Personalized recommendations: Our expertise goes beyond just listing components. We take the time to understand your gaming preferences and advise on hardware that aligns perfectly with the type of games you play.</h4>
                    </li>
                    <li>
                        <h4>Future-proofing your setup: We consider the upgradeability of your chosen components, allowing you to seamlessly scale your system as your needs evolve.</h4>
                    </li>
                    <li>
                        <h4>Beyond the hardware: We offer recommendations for essential peripherals like keyboards, mice, and headsets, ensuring a comfortable and immersive gaming experience.</h4>
                    </li>
                </ul>
            </div>
            <div class="commitment">
                <h3>Our Commitment</h3>
                <h4 style="text-align: center;">We go beyond simply selling parts. We strive to build a community of gamers who share our passion. We're here to answer your questions, address your concerns, and help you navigate the exciting world of PC gaming.</h4>
    
            </div>

            <h2>Ready to Level Up Your Game?</h2>
            <h4 style="text-align: center;">Visit us today, and let our team craft the perfect setup for your budget and gaming aspirations.</h4>
            <h4 style="text-align: center;">Or get your quotation online by clicking <a href="build.html"><button>Build</button></a></h4>
        </div>
      </div>
        
      <%- include('footer') %>
    </body>
    <script src="scripts/index.js"></script>
    </html>