<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <%- include('navbar') %>

      <section class="contact-us">
        <form action="" class="contact-form">
          <h1 id="contact-title">Contact Us</h1>
          <label for="name">Full Name</label>
          <input type="text" id="name" required>
          <br>
          <label for="email">Email</label>
          <input type="email" id="email" required>
          <br>
          <label for="message">Message</label>
          <textarea id="message" placeholder="" required></textarea>
          <button type="submit" onclick="contactSubmit()">Submit</button>
        </form>
      </section>
      




    
 <%- include('footer') %>
</body>
<script type="module" src="scripts/index.js"></script>
<script type="module" src="scripts/contact.js"></script>
</html>