<section class="footer">
    <nav class="footer">
      <input type="checkbox" id="footer-check">
      <div class="footer-header">
        <div class="footer-title">
          GameGear
        </div>
      </div>
      <div class="footer-btn">
        <label for="footer-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <ul class="footer-list">
        <li><a href="#">©Ameya Taneja</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
      </ul>
    </nav>
  </section>