<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameGear | Home</title>
    <link rel="shortcut icon" href="webpages/css/media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
   <%- include('navbar') %>

    <section class="mainbody">
      <h1>India's Top Site for PC Build Suggestions</h1>
      <section class="cards">
        <div class="card-container">
          <div class="card1">
            <div class="card1front">
              <h1></h1>
            </div>
            <div class="card1back">
              <h1>Low Budget <br />Gaming PC</h1>
              <p>
                This budget-friendly PC packs a punch for gamers on a tight
                budget. It prioritizes core components to deliver playable
                experiences at 1080p resolution, letting you enjoy popular
                titles without breaking the bank.
              </p>
              <h2>Specifications</h2>
              <h5>
                Motherboard: MSI B460M Mortar Micro ATX LGA1200 Motherboard
              </h5>
              <h5>Processor: Intel Core i3 10100</h5>
              <h5>Graphics Card: Nvidia GeForce GTX 1650</h5>
              <h5>RAM: 16GB DDR4</h5>
              <h5>Storage: 500GB SSD + 1TB HDD</h5>
              <h5>Case: NZXT H510 ATX Mid Tower Case</h5>
              <h5>Power Supply: 450W - 550W PSU</h5>
            </div>
          </div>
          <div class="card2">
            <div class="card2front"></div>
            <div class="card2back">
              <h1>Medium Budget <br />Gaming PC</h1>
              <p>
                Looking to crank up the graphics and experience smoother
                gameplay? This medium-budget build offers a significant
                performance boost over budget options, letting you enjoy more
                demanding games at higher settings.
              </p>
              <h2>Specifications</h2>
              <h5>Motherboard:MSI B550M Mortar Micro ATX AM4 Motherboard</h5>
              <h5>Processor: AMD Ryzen 5 5600X</h5>
              <h5>Graphics Card: Nvidia GeForce RTX 3060</h5>
              <h5>RAM: 16GB DDR4</h5>
              <h5>Storage: 1TB SSD + 1TB HDD</h5>
              <h5>Case: Fractal Design Meshify C ATX Mid Tower Case</h5>
              <h5>Power Supply: 550W - 650W PSU</h5>
            </div>
          </div>
          <div class="card3">
            <div class="card3front"></div>
            <div class="card3back">
              <h1>High Budget <br />Gaming PC</h1>
              <p>
                Experience the pinnacle of PC gaming performance with this
                high-budget build. Prepare to be blown away by stunning visuals,
                ultra-smooth frame rates, and the ability to run even the most
                demanding games at their highest settings.
              </p>
              <h2>Specifications</h2>
              <h5>Motherboard:ASUS ROG Strix X670E Gaming WiFi</h5>
              <h5>Processor: Intel Core i9-13900K</h5>
              <h5>Graphics Card: Nvidia GeForce RTX 4080</h5>
              <h5>RAM: 32GB DDR5 RAM</h5>
              <h5>Storage: 1TB SSD + 1TB HDD</h5>
              <h5>Case: NZXT H710i ATX Mid Tower Case</h5>
              <h5>Power Supply: 650W - 750W PSU</h5>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="about-area">
      <h3>
        Struggling to navigate the ever-evolving world of PC components and
        build your dream gaming machine? Look no further than GameGear! We're
        your one-stop shop for expert PC build recommendations tailored to fit
        every budget <br /><br />
        Whether you're a seasoned gamer seeking peak performance or a newcomer
        looking for a budget-friendly entry point, our knowledgeable team is
        here to guide you through the process. We understand the intricacies of
        PC hardware and can craft a build that perfectly balances power,
        affordability, and your unique gaming needs.
        <br /><br />
        Explore our website to discover a wealth of information, including
        detailed build recommendations, component breakdowns, and valuable
        resources to help you make informed decisions. With GameGear, building
        your dream PC becomes a seamless and enjoyable experience
      </h3>
    </section>

    <%- include('footer') %>
    
  </body>
  <script src="scripts/index.js"></script>
</html>
  