<header class="header">
    <nav class="navbar">
      <a href="/" class="nav-logo">GameGear</a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="build" class="nav-link">Build</a>
        </li>
        <li class="nav-item">
          <a href="contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item loginbuttonnav">
          <button
            type="button"
            class="nav-link nav-link-btn"
          ><a href="login" id="navlog">Login</a>
            
          </button>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>