.about h1{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    margin: auto;
}

.about h2{
    font-size:45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #92c0ef;;
    text-align: center;
    text-transform: capitalize;
    
}

.about h3{
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #92c0ef;;
    text-align: center;
    text-transform: capitalize;
}

.about h4{
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 0%;
    
}

.about p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 40px;
    margin: auto;
}

.about button{
    background-color: #92c0ef;
    padding: 10px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    border: none;
    color: #2d2d2d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 70px;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: 10px;
}

