.budget h1{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    padding: 30px;
    margin: auto;
}

.budget p{
    font-size: 30px;
    font-weight: bolder;
    color: azure;
    text-align: center;

}

#budgetSlider{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#specDisplay h2{
font-size: 35px;   
color: #65b5ee; 
text-align: center;
margin: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #AED2FF;
    border-radius: 12px;
  }

  input[type="range"]::-webkit-slider-thumb{
background-color: #9400FF;
  }

  .partlinks p{
    font-size: 35px;
    font-weight: bolder;
    color: azure;
    text-align: left;
    margin: 5% 5% 0

  }

  .partlinks a{
    font-size: 30px;
    font-weight: bolder;
    color: #65b5ee;
    text-align: left;
    border: #2d2d2d;
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 15px;
  
  }

  .partlinks a:hover{
    color: aquamarine;
  }

  #ramlink{
    margin-bottom: 5%;
  }